{% extends 'example.html' %}

{% block content %} 
        <div id="container">
        <div id="login-panel">
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}<br>
        <form action="login" method="POST">
        {% csrf_token %}
        <label for="email">Email:</label><br>
        <input type="text" name="email" id="input1"> 
        <br><label for="password">Password:</label><br>
        <input type="password" name="password" id="input1"> <br>
        <input type="submit" value="submit" id="submit">
        </form>
    </div>
    </div>
    <style>
        div#container{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        div#login-panel{
            width: 50%;
            height: 50vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5rem;
            box-shadow: 0 0 20px 10px black        }
        label{
            color: white;
            margin-bottom: 0.5rem;           
            margin-top: 1rem;

        }
        
        </style>
{% endblock %}




</body>
</html>