{% extends 'example.html' %}

{% block content %} 
        <div id="container">
        <div id="login-panel">
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}<br>
        <form action="login" method="POST">
        {% csrf_token %}
        <label for="email">Nickname:</label><br>
        <input type="text" name="email" id="input1"> 
        <br><label for="password">Password:</label><br>
        <input type="password" name="password" id="input1"> <br>
        <input class="save btn btn-primary" type="submit" value="submit" id="submit">
        </form>
    </div>
    </div>
    <style>
        div#container{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        div#login-panel{
            word-wrap: break-word;
            padding: 1rem;
            width: 100%;
            height: 50vh;
            display: flex;
            margin-top: 5rem;
            box-shadow: 0 0 20px 10px black        }
        label{
            color: white;
            margin-bottom: 0.5rem;           
            margin-top: 1rem;
            word-wrap: break-word;
        

       }
       #input1{
        resize: vertical;

        word-wrap: break-word;

       }
        #submit{
            float: right;
            margin-top: 10px;
        }
        @media screen and (max-width: 600px) {
        .col-25, .col-75, input[type=submit] {
            width: 100%;
            margin-top: 0;
        }
        }
        </style>
{% endblock %}




</body>
</html>